@font-face {
    font-family: 'iransans';
    src: url(./font/Iranian\ Sans.ttf);
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'iransans';
}
.main{
    width: calc(100%-10px);
    background-color: #AC87C5;
    padding-top: 2rem;
}
.h1{
}
.main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 13.9rem;
}
.form-input{
    width: 400px;
    height: 300px;
    padding: 1rem;
    border-radius: 0.5rem;
    backdrop-filter:blur(10px);
    background-color: #ffffff8c;
    border: 2px solid #E0AED0;
}

input[type="text"]{
    position: relative;
    width: 75%;
    height: 1.8rem;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid #E0AED0;
}
select{
    font-family: inherit;
    width: 20%;
    height: 1.5rem;
    border:#E0AED0;
    border-radius: 5px;
}
.span-title{
    width: 100vw;
    margin: 1rem 8rem;
}
#selector{
    margin: 0.5rem 17.4rem 0 0;
}
.btn{
    width: 80%;
    height: 2.5rem;
    position:relative;
    margin: 5rem 10% 0 10%;
    border: 1px solid #E0AED0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: #AC87C5;
    border-color: #E0AED0;
}
.error{
    display: none;
}